body {
    background: #35363A;
    margin: 0;
  }

  #backgroundImage {
    border: none;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
  }

  [show-background-image] #backgroundImage {
    visibility: visible;
  }


.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
  }
  
  p {
    /* Center horizontally*/
    text-align: center;
  }

  .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
